
*{
  padding: 0;
  margin:  0;
  box-sizing: border-box;
  font-family: 'Urbanist',sans-serif;
  color: #212B36
} 

@keyframes scale{
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}